@page "/"
@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

<Button Id="btnSubmit"
        Content="Hello Click Me!"
        Foreground="red"
        Background="yellow"
        Height="32"
        Width="300"
        BorderBrush="orange"
        BorderThickness="2"
        BorderRadius="100"
        Margin="25,50,75,300"></Button>